{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Plans</h1>
  {% for plan in plans %}
  <hr class="mt-4">
  <a class="my-a-unset" href="{{ url_for('plans.update', plan=plan['NAME']) }}">
    <label>{{ plan['NAME'] }}</label>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ plan['FINISHED'] * 100 // plan['GOAL'] }}%">
      {{ plan['FINISHED'] * 100 // plan['GOAL'] }}%
      </div>
    </div>
  </a>
  {% endfor %}
  <canvas id="myChart"></canvas>
  <a class="btn btn-primary my-btn-circle" href="{{ url_for('plans.create') }}" role="button">
    <i class="fa fa-plus align-middle" aria-hidden="true"></i>
  </a>
</div>
<script>
  var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var config = {
			type: 'line',
			data: {
				labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
				datasets: [{
					label: 'My First dataset',
					backgroundColor: "#ff6600",
					borderColor: "#ff6600",
					data: [1, 3, 5, 6, 6, 1, 2],
					fill: false,
				}, {
					label: 'My Second dataset',
					fill: false,
					backgroundColor: "#ff6600",
					borderColor: "#ff6600",
					data: [4, 5, 2, 9, 5, 2, 1],
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Chart.js Line Chart'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
			}
		};
  var ctx = document.getElementById('myChart').getContext('2d');
  window.myLine = new Chart(ctx, config);
</script>
{% endblock %}