{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card border-secondary">
    <form class="card-body" method="post">
      <div class="form-row">
        <div class="form-group col-9">
          <label>Plan</label>
          <input type="text" name="NAME" class="form-control" value="{{ plan['NAME'] }}" required>
        </div>
        <div class="form-group col-3">
          <label>Timespan</label>
          <select name="TIMESPAN" class="form-control" value="{{ plan['TIMESPAN'] }}">
            <option selected>Day</option>
            <option>Week</option>
            <option>Month</option>
            <option>Year</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label>Finished</label>
          <select name="FINISHED" class="form-control" value="{{ plan['FINISHED'] }}">
            {% for i in range(100) %}
            {% if i == plan['FINISHED'] %}
            <option selected>{{ i }}</option>
            {% else %}
            <option>{{ i }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-6">
          <label>Goal</label>
          <select name="GOAL" class="form-control" value="{{ plan['GOAL'] }}">
            {% for i in range(1, 100) %}
            {% if i == plan['GOAL'] %}
            <option selected>{{ i }}</option>
            {% else %}
            <option>{{ i }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label>Start time</label>
          <input name="START_TIME" class="form-control" value="{{ plan['START_TIME'] }}" required>
        </div>
        <div class="form-group col-6">
          <label>End time</label>
          <input name="END_TIME" class="form-control" value="{{ plan['END_TIME'] }}" required>
        </div>
      </div>
      <div class="form-row mt-1">
        <div class="form-group col mb-0 d-flex justify-content-between">
          <a class="btn btn-outline-danger col-5" href="{{ url_for('plans.delete', plan=plan['NAME']) }}">Delete</a>
          <button type="submit" class="btn btn-outline-primary col-5">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}