{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="card border-secondary">
    <form class="card-body" method="post">
      <div class="form-row">
        <div class="form-group col-8">
          <label>Skill</label>
          <input type="text" name="NAME" class="form-control" value="{{ request.form['NAME'] }}" required>
        </div>
        <div class="form-group col-4">
          <label>Stars</label>
          <select name="STARS" class="form-control" value="{{ request.form['STARS'] }}">
            <option selected>0</option>
            {% for i in range(1, 6) %}
            <option>{{ i }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Describe</label>
          <textarea name="DESCRIBE" class="form-control" rows="5">{{ request.form['DESCRIBE'] | safe }}</textarea>
        </div>
      </div>
      <div class="form-row mt-1 justify-content-center">
        <div class="form-group mb-0 col">
          <button type="submit" class="btn btn-outline-primary col">Submit</button>
        </div>  
      </div>
    </form>
  </div>
</div>
{% endblock %}