{% extends 'base.html' %}

{% block content %}
<div class="my-size-full bg-dark"></div>
<div class="container text-light d-flex justify-content-center">
  <div class="row" style="width: 50rem; margin-top: 10%">
    <div class="col-3 animated bounceIn">
      <img class="my-photo" src="{{ url_for('static', filename='image/photo.jpeg') }}">
    </div>
    <div class="col-9 row animated zoomIn delay-1s faster">
      <div class="col-1 pr-0">
        <div class="my-triangle-left float-right"></div>
      </div>
      <div class="col-11 pl-0">
        <div class="card bg-light text-dark" style="border-radius: 20px; border: none">
          <div class="card-body">
            <p style="font-size: 24px">
              Hi, I'm Zhexin Jin. 
            </p>
            <p class="mb-0" style="font-size: 20px">
              My undergraduate major is Computer Science, 
              and I'm a member of Hua Xia Talent Program in Computer Science and Technology 
              at School of Computer Science and Technology, 
              University of Science and Technology of China. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-light d-flex justify-content-center">
  <div class="row animated fadeInUp delay-1s slow" style="width: 50rem; margin-top: 10%">
    <div class="col-2">
      <h3>Skills:</h3>
    </div>
    <div class="col-10">
      {% for skill in skills %}
      <a role="button" class="btn btn-sm btn-outline-light mb-1" href="{{ url_for('skills.index') }}">
        {{ skill['name'] }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
<div class="container text-light d-flex justify-content-center">
  <div class="row animated fadeInUp delay-1s slower" style="width: 50rem; margin-top: 3%">
    <div class="col-2">
      <h3>Projects:</h3>
    </div>
    <div class="col-10">
      <button type="button" class="btn btn-sm btn-outline-light">
        My Personal Website
      </button>
      <button type="button" class="btn btn-sm btn-outline-light">
        Othello AI
      </button>
    </div>
  </div>
</div>
{% endblock %}